.rewardedVideo {
    transform: scale(0.9);
    position: relative;
    background: #0F0F0F !important;
}

.rewardedVideo::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: blue;
    top: 0;
    left: 0;
    z-index: -20;
    transform: scale(1.1111);
}