*{
    padding: 0;
    margin: 0;
}

body{
    height: 550px;
    width: 325px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}